/* Reset */
body,
h1,
h2,
h3,
ul,
li,
p,
dd,
dt,
dl,
a {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}
ul {
  list-style: none;
}
:root {
  /* Variaveis de cor */
  --cor-fundo-padrao: #faf6ed;
  --text-color-default: #222;
  --background-menu: #fb5;
  --subtitles-color: #e54;
}
.texto-maior {
  font-size: 150%;
}

body {
  background-color: var(--cor-fundo-padrao);
  color: var(--text-color-default);
  -webkit-font-smoothing: antaliased;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 120px minmax(300px, 800px) 1fr;
}
.menu {
  grid-column: 3 / 5;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background-color: var(--background-menu);
}

.menu ul {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}
.menu li a {
  display: block;
  padding: 16px 11px;
  margin-right: 10px;
  color: var(--text-color-default);
  font-family: monospace;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 0.1em;
}
.grid-section {
  grid-column: 2 / 4;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  display: grid;
  grid-template-columns: 100px 300px 1fr;
  gap: 20px;
  margin-bottom: 4rem;
}
.titulo {
  font-family: "Playfair Display SC", serif;
  font-size: 6rem;
  line-height: 1;
  font-weight: 400;
  margin-bottom: 1rem;
  grid-column: 1/4;
}

.animais p {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.2;
  margin-bottom: 1.2rem;
}
.animais h2 {
  font-family: monospace;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-bottom: 1rem;
  color: var(--subtitles-color);
}

.animais h2::before {
  content: "";
  display: inline-block;
  width: 40px;
  height: 10px;
  margin-right: 10px;
  background-color: var(--background-menu);
}

.animais-lista {
  height: 370px;
  overflow-y: scroll;
  grid-column: 2;
}
.animais-lista::-webkit-scrollbar {
  width: 18px;
}
.animais-lista::-webkit-scrollbar-thumb {
  background: var(--background-menu);
  border-left: 4px solid #faf6ed;
  border-right: 4px solid #faf6ed;
}
.animais-lista::-webkit-scrollbar-track {
  background: #faf6ed;
}
.animais-lista li {
  cursor: pointer;
}

.animais-descricao {
  grid-column: 3;
}

.animais-descricao section {
  margin-bottom: 3rem;
}

.faq-list {
  grid-column: 2 / 4;
}
.faq-list dt {
  font-family: monospac;
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  color: var(--subtitles-color);
}
.faq-list dt::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 10px;
  margin-right: 10px;
  background: var(--background-menu);
}
.faq-list dd {
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 0.5rem;
  margin-left: 30px;
}

.mapa {
  grid-column: 2;
}

.dados {
  grid-column: 3;
}
.dados li {
  margin-bottom: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}

.dados li::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 10px;
  margin-right: 10px;
  background: var(--background-menu);
}
.copy {
  grid-column: 3/5;
  background: var(--background-menu);
  margin-bottom: 2rem;
}
.copy p {
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--text-color-default);
  font-size: 1.2rem;
}
.copy a {
  color: var(--text-color-default);
}
.copy a:hover {
  color: var(--cor-fundo-padrao);
}

@media (max-width: 700px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
  .menu,
  .grid-section,
  .copy {
    grid-column: 1;
  }
  .grid-section {
    grid-template-columns: 100px 1fr;
    gap: 10px;
  }
  .animais-lista {
    grid-column: 1;
  }
  .faq-list,
  .dados,
  .mapa {
    grid-column: 1 / 3;
  }
  .grid-section h1 {
    font-size: 3rem;
  }
  .menu {
    margin-top: 0px;
  }
  .copy {
    margin-bottom: 0px;
  }
}

[data-tab-content="tabContent"] section {
  display: none;
}

.js [data-tab-content="tabContent"] section.ativo {
  display: block !important;
}
.js [data-tab-content="tabContent"] section.ativo.show-down {
  animation: show-down.5s forwards;
}
.js [data-tab-content="tabContent"] section.ativo.show-left {
  animation: show-left 0.5s forwards;
}

@keyframes show-down {
  from {
    opacity: 0;
    transform: translate3d(0, -60px, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes show-left {
  from {
    opacity: 0;
    transform: translate3d(-30px, 0, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}

.js [data-faq-list="faqList"] dd {
  display: none;
}

[data-faq-list="faqList"] dd.ativo {
  display: block;
  animation: showDt 0.5s forwards;
}

[data-faq-list="faqList"] dt::after {
  content: "↓";
  margin-left: 10px;
}
[data-faq-list="faqList"] dt.ativo::after {
  content: "↑";
}

@keyframes showDt {
  from {
    opacity: 0;
    max-height: 0;
  }
  to {
    opacity: 1;
    max-height: 200px;
  }
}

.js [data-scroll="scroll"] {
  opacity: 0;
  transform: translate3d(30px, 0, 0);
  transition: 0.3s ease-in;
}
.js [data-scroll="scroll"].ativo {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

[data-semana]::after {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  background-color: #e54;
  border: 1px solid black;
  border-radius: 50%;
  margin-left: 5px;
}
[data-semana].aberto::after {
  background-color: #20fd1c;
}
.btc-price {
  background: #20fd1c;
  padding: 0.2rem;
  border: none;
  font-weight: bold;
}
