[data-menu='button']{
    display: none;
}

@media (max-width:700px){
    .js [data-menu='button']{
        display: flex;
        background: #000;
        padding: .5rem 1rem;
        border-radius: 4px;
        font-family: monospace;
        border: none;
        margin: 10px;
        color: white;
        font-weight: bold;
        text-transform: uppercase;
        align-items: center;
        position: relative;
        z-index: 300;

    }
    .js [data-menu='button']::before{
        content: '';
        margin-right: 5px;
        display: inline-block;
        height: 2px;
        width: 12px;
        background: #fff;
        box-shadow: 0 4px #fff,0 -4px #fff;
        transition: transform .3s;
        
    }
    .js [data-menu='button'].ativo::before{
        transform: rotate(90deg);
    }
    .js [data-menu='lista']{
        position: absolute;
        width: 160px;
        top:0;
        box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, .2);
        padding: 60px 0 20px 0;
        display: none;
        background: #FB5;
        z-index: 200;
    }
    .js [data-menu='lista'].ativo{
        display: block;
        animation: show-left .3s forwards;
    }
    
    .js .menu-dropdown{
        position: static;
        border: none;
    }
    .js .menu-dropdown::before{
        content:'';
        display:none;
    }
}