.modal-container{
    background-color: rgba(0, 0, 0, .5);
    width: 100%;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
}
.modal-container.ativo{
    display: flex;
}

@keyframes modal{
    from{
        opacity: 0;
        transform: translate3d(0,-30px,0);
    }
    to{
        opacity: 1;
        transform: translate3d(0,0,0);
    }
}
.ativo .modal{
    animation: modal .5s forwards;
}
.modal{
    background-color: white;
    padding: 40px;
    border: 10px solid #FB5;
    box-shadow: 0 0 0 10px white;
    position: relative;
    min-width: 300px;
}
.modal-fechar{
    position: absolute;
    top: -30px;
    right: -30px;
    width: 50px;
    height: 50px;
    border: 4px solid white;
    border-radius: 50%;
    background-color: #E54;
    padding: 3px;
    font-size: 0.85rem;
    cursor: pointer;
    font-family: monospace;
    color: white;
}
.modal-fechar:hover{
    transform: scale(1.1);
}

.modal label{
    display: block;
    font-family: monospace;
    font-size: 1.1rem;
    margin: 5px;
}
.modal input{
    display: block;
    width: 100%;
    padding: 0.8rem 0.5rem;
    box-sizing: border-box;
    border-radius: 4px;
    border:1px solid #FB5;
}
.modal button[type='submit']{
    background-color: #E54;
    border: none;
    padding: 1rem 0.8rem;
    color: white;
    margin-top: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    font-family: monospace;
    font-weight: bold;
    font-size: 1.1rem;
    cursor: pointer;
    border-radius: 4px;

}

.modal button[type='submit']:hover{
    background-color: #FB5;
}